/* ==========================================================================
   Lists (Global).
   ========================================================================== */

// Class to remove default list styling
.no-list {
	list-style-type: none;
 	padding: 0;
}

//////////////////////////////////////


// Custom ordered list
.list__ordered {
	list-style-type: none;
	padding-left: pxToEm(40px, $font-size-base);
	counter-reset: item;

	li {
		position: relative;
		margin-bottom: pxToEm(20px, $font-size-base);


		&:before {
			@include fontSize(45px);
			font-weight: $font-weight-bold;
			color: lighten($black, 40%);
			content: counter(item) " ";
		    counter-increment: item;
		    position: absolute;
		    left: pxToEm(-15px, $font-size-base);
		    top: pxToEm(-5px, $font-size-base);;
		}
	}

}

/////////////////////////////////////