/*********************************************
 * Base styles that affect the entire website
 *********************************************/

@use '../abstracts' as *;
@use '../utilities' as *;


html {
  background-color: var(--background-colour);
  padding: 0;

    @include min-width($breakpoint-medium) {
      padding: 1rem;
    }

    @include min-width($breakpoint-large) {
      padding: 1.5rem;
    }
}

body,
#main,
#footer {
  @extend %flow;
}

body {
  background-color: var(--background-colour-overlay);
}

#main {
  padding-bottom: 2rem;

    @include min-width($breakpoint-medium) {
      padding-bottom: 3rem;
    }

    @include min-width($breakpoint-large) {
      padding-bottom: 4rem;
    }
}

// This is using CSS Grid to define grid template areas
// =====================================================
// NOTE: Section and component-level grid layouts will be done in those Sass files
// Progressive enhancement method
// If the browser supports `grid`, it'll also support the `@supports` feature.
@supports (display: grid) {
  body {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer'; // Helps 'visualise' the grid template areas
  }

  // "Header" contains the logo and nav
  #header {
    grid-area: header;
  }

  // "Main" is where are the primary content will render
  #main {
    grid-area: main;
  }

  // "Footer" is for the typical site info stuff
  #footer {
    grid-area: footer;
  }
}
