/******************************************
 * Typography styles / rules
 ******************************************/

html {
  font-family: var(--font-family-base);

  // This percentage value is the equivalent of 16px in pretty much every browser.
  // Aka, "1rem = 16px".
  // This is more 'accessible' (in terms of a user increasing their browser's font-size).
  // By contrast, setting this as a 'px' value prevents this ability.
  font-size: var(--font-size-base-percent);
	font-weight: normal;
  font-style: normal;
  color: var(--font-colour-base);
}

body {
  @include font-size($font-size-base);

  // This line-height rule overrides what's been declared in the `reset.scss` file
  line-height: var(--line-height-base);
}

h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  @include font-size(40px);

    @include min-width($breakpoint-small) {
      @include font-size(44px);
    }

    @include min-width($breakpoint-medium) {
      @include font-size(50px);
    }

  &::after {
    content: '';
    display: block;
    max-width: 30%;
    height: 0.4rem;
    background-color: var(--grey-mid);
    margin: 0.5em 0 1em;
  }
}

h2 {
  @include font-size(30px);

    @include min-width($breakpoint-medium) {
      @include font-size(34px);
    }
}

h3 {
  @include font-size(24px);

    @include min-width($breakpoint-medium) {
      @include font-size(28px);
    }
}

p,
ul,
ol,
blockquote {
  @include font-size(18px);

    @include min-width($breakpoint-medium) {
      @include font-size(20px);
    }
}

hr {
  border: 1px solid var(--grey-light);
  border-width: 0 0 1px;
}

// Global article styles...
article {
  time {
    font-size: 0.90rem;
    display: inline-block;
    padding-bottom: 1em;
  }
}

// `Lead` / intro text...
.lead {
  @include font-size(24px);

    @include min-width($breakpoint-medium) {
      @include font-size(28px);
    }

  &::after {
    content: '';
    display: block;
    max-width: 90%;
    height: 0.2rem;
    background-color: var(--grey-light);
    margin: 1.5em 0;
  }
}
