/**********************************************************
 * Images placeholder
 **********************************************************/

@use '../../../../styles/abstracts' as *;

img {
  display: block;
}

picture {
  margin: inherit;
}


// Normal inline images
.img-normal {
  margin: 0 auto;

    @include min-width($breakpoint-medium) {
      margin: unset;
    }
}

// Figure elements
figure {
  > * {
    margin: 0 auto;
    text-align: center;

      @include min-width($breakpoint-medium) {
        margin: unset;
      }
  }

  figcaption {
    text-align: left;
    margin-top: 0.5em;
  }
}

// Alignment rules for figure and image elements...
.img-left,
.fig-left {
  @include min-width($breakpoint-medium) {
    float: left;
    width: 33%;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

.img-right,
.fig-right {
  @include min-width($breakpoint-medium) {
    float: right;
    width: 33%;
    margin-left: 1em;
    margin-bottom: 1em;
  }
}

// Alignment rules for `figure` elements...
.fig-left {
  > * {
    @include min-width($breakpoint-medium) {
      text-align: left;
      margin-right: auto;
    }
  }
}

.fig-right {
  > * {
    @include min-width($breakpoint-medium) {
      text-align: right;
      margin-left: auto;
    }
  }
}

// To add a dropshadow
.shadow {
  border: 0.8rem solid var(--white);
  box-shadow: 1px 1px 4px -1px rgb($black, 0.3);
}
