{# {% if component.data.hasMultiFormat %}
<picture>
  <source srcset="{{ component.data.imageWebP }}" type="image/webp">
	{% if component.data.hasMultiSize %}
		<img src="{{ component.data.imageJpg }}"
		srcset="{{ component.data.imageJpg }} 256w,
			{{ component.data.imageJpg }} 512w,
			{{ component.data.imageJpg }} 1024w"
		sizes="(min-width: 30em) 30em, 100vw"
		loading="lazy"
		alt="{{ component.data.imageAlt }}.">
	{% else %}
	<img src="{{ component.data.imageJpg }}" alt="{{ component.data.imageAlt }}.">
	{% endif %}
</picture>
{% else %}
	{% if component.data.hasMultiSize %}
		<img src="{{ component.data.imageJpg }}"
		srcset="{{ component.data.imageJpg }} 256w,
			{{ component.data.imageJpg }} 512w,
			{{ component.data.imageJpg }} 1024w"
		sizes="(min-width: 30em) 30em, 100vw"
		loading="lazy"
		alt="{{ component.data.imageAlt }}.">
	{% else %}
	<img src="{{ component.data.imageJpg }}" alt="{{ component.data.imageAlt }}.">
	{% endif %}
{% endif %}
 #}


{# `imageNormal`: Normal inline image #}
{% macro imageNormal(src, alt, modifier) %}
<img src="{{ src }}" alt="{{ alt }}." class="[ img-normal ]{% if modifier %} [ {{ modifier }} ]{% endif %}">
{% endmacro %}

{# `imageMulti`: for multi responsive images #}
{% macro imageMulti(src, alt, modifier) %}
<img src="{{ src }}"
			srcset="{{ src }} 256w,
							{{ src }} 512w,
							{{ src }} 1024w"
			sizes="(min-width: 30em) 30em, 100vw"
			loading="lazy"
			alt="{{ alt }}."
			class="[ img-normal ]{% if modifier %} [ {{ modifier }} ]{% endif %}">
{% endmacro %}

{# `imageFigure`: Normal inline images wrapped in a `figure` element #}
{% macro imageFigure(src, alt, caption, modifier) %}
<figure{% if modifier %} class="[ {{ modifier }} ]"{% endif %}>
	<img src="{{ src }}" alt="{{ alt }}.">
	<figcaption>{{ caption }}.</figcaption>
</figure>
{% endmacro %}

{# `imageMultiFigure`: for multi responsive images wrapped in a `figure` element #}
{% macro imageMultiFigure(src, alt, caption, modifier) %}
<figure{% if modifier %} class="[ {{ modifier }} ]"{% endif %}>
	<img src="{{ src }}"
			srcset="{{ src }} 256w,
							{{ src }} 512w,
							{{ src }} 1024w"
			sizes="(min-width: 30em) 30em, 100vw"
			loading="lazy"
			alt="{{ alt }}.">
	<figcaption>{{ caption }}.</figcaption>
</figure>
{% endmacro %}
