<section aria-label=”Featured articles” class="[ wrapper flow ] [ collection collection--featured ]">

	<h2>Featured articles</h2>
	<ol class="collection__list">
		{% for component in collections.featured %}
			<li class="collection__item">
				{# This component pulls the front matter from the featured collection data in "_content/collections/featured" #}
				{% include "components/card/card.njk" %}
			</li>
		{% endfor %}
	</ol>

</section>
