/// "No list" utility class placeholder.
///
/// Use the `.no-list` class on any list element to remove all default styling

%no-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

// No list utility class
// Using the `%no-list` placeholder
.no-list {
  @extend %no-list;
}
