/// Wrapper utility class placeholder.
///
/// Use the `.wrapper` class on any element to restrict its max-width

@use '../abstracts' as *;

// Trying to use less media queries which is why I'm trying out `clamp()` and logical CSS properlties like `padding-inline`
%wrapper {
  width: clamp(20rem, 100%, var(--site-width));
  margin-inline: auto;
  padding-inline: clamp(1rem, 5vw , 2rem);
}

// Wrapper utility class
// Using the `%wrapper` placeholder
.wrapper {
  @extend %wrapper;
}
