/*********************************************
 * Base styles that affect the entire website
 *********************************************/

@use '../../styles/abstracts' as *;
@use '../../styles/utilities/flow' as *;

body,
#main,
#footer {
  @extend %flow;
}

body {
  background-color: var(--background-colour-overlay);
  min-height: 100vh;
}

#main {
  padding-bottom: 2rem;
  margin-top: 1em;

    @include min-width($breakpoint-medium) {
      padding-bottom: 3rem;
      margin-top: 2em;
    }

    @include min-width($breakpoint-large) {
      padding-bottom: 4rem;
      margin-top: 3em;
    }

  // Making sure the `.flow` margin rules still apply..
  // to `.no-list` elements in the main content area.
  .no-list {
    margin-top: revert;
  }
}

// This is using CSS Grid to define grid template areas
// =====================================================
// NOTE: Section and component-level grid layouts will be done in those Sass files
// Progressive enhancement method
// If the browser supports `grid`, it'll also support the `@supports` feature.
@supports (display: grid) {
  body {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer'; // Helps 'visualise' the grid template areas
  }

  // "Header" contains the logo and nav
  #header {
    grid-area: header;
  }

  // "Main" is where are the primary content will render
  #main {
    grid-area: main;
  }

  // "Footer" is for the typical site info stuff
  #footer {
    grid-area: footer;
  }
}
