<!doctype html>
<html id="start" lang="{{ site.lang }}" dir="ltr" class="no-js">

<!--
	"The original, shimmering self gets buried so deep that most of us end up hardly living out of it at all.
	Instead we live out all the other selves, which we are constantly putting on and taking off like coats and hats against the world’s weather."

	- Frederick Buechner, Telling Secrets
-->

	<head>
		{# Meta content, stylesheet call, manifest, open graph, favicon / icons etc. #}
		{% include "components/chrome/meta/meta.njk" %}

		{# Checking browser can handle fairly modern JS #}
		<script>
			document.documentElement.classList.remove('no-js');
		</script>

		{#
			Google Analytics...
			Only render this code snippet if `analyticsUrchin` has a value in `_data/site.js`
		#}
		{% if site.analyticsUrchin %}
			{% include "components/chrome/analytics/analytics.njk" %}
		{% endif %}

<!--
	Hello there! Seems you're a bit like me - having a good ol' snoop around the source code.
	Fingers-crossed it's not too scary in here. 😬
	I've learnt a lot over the years doing what you're doing. Isn't the web fab like that!
	Hopefully there's something in here that helps you out.
-->

	</head>
	<body {% if bodyClass %}class="[ {{ bodyClass }} ]"{% endif %}>

		{# "Skip-to" link. Helps assistive technologies #}
		<a class="[ visually-hidden ]" href="#main">Skip to the main content.</a>

		{# Main header & navigation #}
		{% include "components/global/header/header.njk" %}

		{# Main content #}
		<main role="main" id="main">

			{# Check if `siteMessage` is true in `_data/site.js`... #}
			{% if site.siteMessage %}
				{# Message content #}
				{% block messages %}
					{# Setting the message type (eg. "info") #}
					{% set messageType = messages.info %}
					{# Calling the message component #}
					{% include "components/global/messages/messages.njk" %}
				{% endblock %}
			{% endif %}

			{# Main page content is generated here #}
			{% block content %}
				{{ content | safe }}
			{% endblock %}

		</main>

		{# Main footer content #}
		{% include "components/global/footer/footer.njk" %}

		{# Script calls #}
		{% include "components/chrome/scripts/scripts.njk" %}

		<!-- States referenced by `aria-describedby` -->
		<div class="[ visually-hidden ]">
				<span id="current-page">Current page</span>
		</div>

<!--
	Current page: {{ page.url | pretty }}
	Last updated: {{ updated | dateTimeReadable("dd LLLL yyyy @ t") }}
-->

	</body>
</html>
