{#
	`Landings` layout template
#}

{# Uses `base.njk` as base document (ie. extends on it) #}
{% extends "layouts/base.njk" %}

{#
	*** A `titleMissingText` variable to make sure an `h1` title is supplied ***
#}
{% set titleMissingText = '* Title text is missing *' %}

{# This block `content` relates to the same block on the `base.njk` layout file #}
{% block content %}
	<article class="[ wrapper ] [ flow ]">

		{# This `title` comes from the front matter in the relevant `.md` file - within the `pages` directory #}
		{% if title %}
			<h1>{{ title }}</h1>
		{% else %}
			{# Pages need a `title` hence the reason for this fallback #}
			<h1>{{ titleMissingText }}</h1>
		{% endif %}

		{% if lead %}
			{# This content comes from the `front matter` in the relevant `.md` file - within the `pages` directory #}
			<p class="[ lead ]">{{ lead | safe }}</p>
		{% endif %}

		{# This content comes from the markdown in the relevant `.md` file - within the `pages` directory #}
		{{ content | safe }}

	</article>
{% endblock %}
