/**********************************************************
 * Main navigation styles
 **********************************************************/

@use '../../../../styles/abstracts' as *;
@use '../../../../styles/utilities' as *;

.navigation {
  padding: 1rem;

    @include min-width($breakpoint-medium) {
      padding-top: 0;
      padding-bottom: 0;
    }

    @include min-width($breakpoint-x-large) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

  a {
    color: var(--black);
    text-decoration-color: transparent;
    display: inline-block;
    padding: 0.2em 0;

    &:active,
    &:focus,
    &:hover {
      color: var(--black);
      text-decoration-color: var(--green-custom-light);
    }

    &.current {
      color: var(--black);
      text-decoration-color: var(--green-custom-light);
      text-decoration-thickness: 2px;
    }
  }

  &__list {
    @include font-size(16px);
    display: flex;
    flex-wrap: wrap;

    & > li {
      display: inline-flex;
      align-items: center;

      &:not(:last-child) {
        &::after {
          content: '\00B7';
          font-size: 1.6rem;
          line-height: 0;
          opacity: 0.4;
          padding: 0 0.5em;
        }
      }
    }
  }
}
