/**********************************************************
 * Main navigation styles
 **********************************************************/

 .navigation {
  @extend %flow;

  a {
    &,
    &:active,
    &:focus,
    &:hover {
      color: var(--font-colour-base);
      text-decoration-color: transparent;
    }

    &:active,
    &:focus,
    &:hover {
      text-decoration-color: var(--green-custom-light);
    }
  }

  &__list {
    @extend %no-list;
    display: flex;
    flex-wrap: wrap;

    & > li {
      padding-right: 1rem;
    }
  }

 }
