/**********************************************************
 * Header styles
 **********************************************************/

@use '../../../../styles/abstracts' as *;

.site-header {
  --header-text: var(--black);
  --header-background: var(--grey-mid);

  display: flex;
  flex-direction: column;

  // Create `--header-background` and `--header-text` variables scoped to this class
  background: var(--header-background);
  color: var(--header-text);

  position: sticky;
  top: 0;
  margin: 0;
  z-index: 100; // Making sure this element always stacks higher than anything else.

    @include min-width($breakpoint-medium) {
      flex-direction: row;
      align-items: center;
    }
}

