<header role="banner" id="header" class="site-header">
	{# Site logo #}
	{% include "components/global/logo/logo.njk" %}

	{# Primary site navigation #}
	{% include "components/global/navigation/navigation.njk" %}
</header>
