<header role="banner" id="header" class="site-header">
	<div class="wrapper">
		{# Site logo #}
		{% include "components/global/logo/logo.njk" %}

		{# Primary site navigation #}
		{% include "components/global/navigation/navigation.njk" %}
	</div>
</header>
