{# Setting contact form component content. (Pulls from global `contactform.js` data file) #}
{% set botMessage = contactform.botMessage %}

{# Form labels etc. #}
{% set labelName = contactform.labelName %}
{% set labelEmail = contactform.labelEmail %}

{% set labelMessage = contactform.message.label %}
{% set messagePlaceholder = contactform.message.placeholder %}
{% set labelButton = contactform.labelButton %}

<section class="[ wrapper ] [ flow ]">

	<form class="[ form ]" method="post" name="contact" action="/contact/thanks" netlify-honeypot="bot-field" data-netlify="true">

		{# This is to trick bots and prevent spam emails being submitted #}
		<p class="hidden">
			<label>{{ botMessage }} <input name="bot-field"></label>
		</p>

		{# Fields that need filling out #}
		<fieldset class="[ form__group ]">
			<ol class="[ form__list ]">
				<li class="[ form__item ]">
					<label class="[ form__label ]" for="name">{{ labelName }}</label>
					<input class="[ form__input ]" id="name" name="name" type="text" required>
				</li>
				<li class="[ form__item ]">
					<label class="[ form__label ]" for="email">{{ labelEmail }}</label>
					<input class="[ form__input ]" id="email" name="email" type="email" required>
				</li>
				<li class="[ form__item ]">
					<label class="[ form__label ]" for="message">{{ labelMessage }}</label>
					<textarea class="[ form__input ]" id="message" name="message" rows="10" cols="20" placeholder="{{ messagePlaceholder }}" required></textarea>
				</li>
			</ol>

			{# Submit button #}
			<button class="[ button button--primary ]" type="submit">{{ labelButton }}</button>

		</fieldset>

	</form>

</section>
