@use '../../../../styles/abstracts' as *;


.message {
  // Create `--message-background` and `--message-text` variables scoped to this class
  background: var(--message-background);
  color: var(--message-text);

  text-align: center;
  position: sticky;
  top: 4.3rem;
  padding: 1rem;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 2px 0 1px rgb($grey-dark, 0.2);

    // Creates an offset type look using these negative margins...
    @include min-width($breakpoint-medium) {
      margin-top: -2.5rem;
    }

    @include min-width($breakpoint-large) {
      margin-top: -2rem;
      margin-left: -0.75rem;
      margin-right: -0.75rem;
    }

  a {
    white-space: nowrap;
  }

  // 'Info' type message
  &--info {
    --message-text: var(--black);
    --message-background: var(--grey-light);
  }

  // 'Alert' type message
  &--alert {
    --message-text: var(--black);
    --message-background: var(--orange-custom);
  }
}
