{# @TODO: Make this message more dynamic in terms of the type of message and the related content. #}
<div class="[ message {{ messages.info.modifier }} ]">
	{{ messages.info.message }}
	<a href="{{ messages.info.url }}">More about this</a>
</div>
