{# @TODO: Make this message more dynamic in terms of the type of message and the related content. #}
<div class="[ message {{ modifier }} ]">
	{{ message }}
	<a href="{{ ctaUrl }}">{{ ctaLabel }}</a>
</div>
