{# Pulls data from a global `messages.json` data file #}
<div class="[ message {{ messageType.modifier }} ]">
	{{ messageType.message }}

	{# Check if `ctaUrl` value has been set for the particular `messageType` data object #}
	{% if messageType.ctaUrl %}
		<a href="{{ messageType.ctaUrl }}">{{ messageType.ctaLabel }}</a>
	{% endif %}
</div>
