/**********************************************************
 * Footer styles
 **********************************************************/

#footer {
  margin-bottom: 1rem;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  small {
    font-size: 0.90rem;
    margin-right: 1rem;
  }

  nav {
    font-size: 0.90rem;

    ul {
      @extend %no-list;
      display: flex;

      li {
        padding-right: 1rem;
      }
    }

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        color: var(--font-colour-base);
        text-decoration: none;
      }
    }
  }

  .social {
    @extend %no-list;
    flex: 1 1 75%;

    & > li {
      width: 2.5rem;
    }
  }
}
