/**********************************************************
 * Footer styles
 **********************************************************/

@use '../../../../styles/abstracts' as *;
@use '../../../../styles/utilities' as *;


#footer {
  background-color: var(--grey-light);
  padding: 1rem 0 2rem;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 -2px 0 1px rgba($grey-dark, 0.2);

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  small {
    font-size: 0.90rem;

      @include min-width($breakpoint-small) {
        flex: 1 1 55%;
        max-width: 55%;
        margin-right: 1rem;
      }
  }

  nav {
    font-size: 0.90rem;

    ul {
      @include font-size(16px);
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      li {
        padding: 0.2em 1rem 0.2em 0;
      }
    }
  }
}
