<footer role="contentinfo" id="footer" aria-labelledby="site-footer--label" class="[ site-footer ]">
	<div class="[ wrapper ] [ flow ]">

		{# To help assistive technologies #}
		<h2 id="site-footer--label" class="[ visually-hidden ]">Other tertiary content and external links. eg. accessibility statement, twitter and github.</h2>
		<small>Copyright &copy; 2004&ndash;<time datetime="{% year %}">{% year %}</time> {{ site.name }}. All rights reserved.</small>

		{# Pulls content from navigation.json data file #}
		<nav aria-labelledby="nav-footer--label">

			{# To help assistive technologies #}
			<h2 id="nav-footer--label" class="[ visually-hidden ]">Footer navigation</h2>

			{% for navitem in navigation.footernav %}
				{% if loop.first %}<ul aria-label="List of tertiary content pages">{% endif %}
					<li>
						<a href="{{ navitem.url }}"
							{% if navitem.external %} rel="external"{% endif %}
							{% if (page.url | pretty) == navitem.url %} aria-describedby="current-page" class="[ current ]"{% endif %}>{{ navitem.label }}</a>
					</li>
				{% if loop.last %}</ul>{% endif %}
			{% endfor %}
		</nav>

		{# Back to the top link / anchor #}
		<a href="#start">Go back to the top</a>

	</div>

	{# "Skip-to" link. Helps assistive technologies #}
	<a class="[ visually-hidden ]" href="#main">Skip to the main content.</a>

</footer>
