<footer role="contentinfo" id="footer" class="[ site-footer ]">
	<div class="[ wrapper ] [ flow ]">

		{# To help assistive technologies #}
		<h2 class="[ visually-hidden ]">Other places online to find Bruce.</h2>
		<small>Copyright &copy; <time>{{ site.yearCurrent }}</time> {{ site.name }}. All rights reserved.</small>

		{# Pulls content from navigation.json data file #}
		<nav aria-label="Tertiary navigation">

			{# To help assistive technologies #}
			<h2 class="[ visually-hidden ]">Footer navigation</h2>

			{% for navitem in navigation.footernav %}
				{% if loop.first %}<ul aria-label="List of tertiary pages">{% endif %}
					<li>
						<a href="{{ navitem.url }}"
							{% if external %} rel="external"{% endif %}
							{% if (page.url | pretty) == navitem.url %} aria-describedby="current-page" class="[ current ]"{% endif %}>{{ navitem.label }}</a>
					</li>
				{% if loop.last %}</ul>{% endif %}
			{% endfor %}
		</nav>

	</div>
</footer>
