<footer role="contentinfo" id="footer" class="[ site-footer ]">
	<div class="[ wrapper ] [ flow ]">

		{# To help assistive technologies #}
		<h2 class="[ visually-hidden ]">Other places online to find Bruce.</h2>
		<small>&copy; <time>{{ site.yearCurrent }}</time> {{ site.name }}. &mdash; <a href="#main">Go back to the top</a></small>

		{# Pulls content from navigation.json data file #}
		<nav aria-label="Tertiary navigation">

			{# To help assistive technologies #}
			<h2 class="[ visually-hidden ]">Footer navigation</h2>

			{% for navitem in navigation.footernav %}
				{% if loop.first %}<ul aria-label="List of pages you can visit">{% endif %}
					<li>
						<a href="{{ navitem.url }}"{% if external %} rel="external"{% endif %}>{{ navitem.label }}</a>
					</li>
				{% if loop.last %}</ul>{% endif %}
			{% endfor %}
		</nav>

	</div>
</footer>
