/**********************************************************
 * Main navigation styles
 **********************************************************/

 .navigation {
  @extend %flow;

  a {
    &,
    &:active,
    &:focus,
    &:hover {
      color: var(--font-colour-base);
      text-decoration: none;
    }
  }

  .logo {
    font-size: 1.2rem;
    font-weight: bold;

    &,
    &:active,
    &:focus,
    &:hover {
      border: 0;
    }
  }

  &__list {
    @extend %no-list;
    display: flex;

    & > li {
      padding-right: 1rem;
    }
  }

 }
