{# Pulls content from navigation.json data file #}
<nav aria-label="Primary navigation">
	{% for navitem in navigation.mainnav %}
		{% if loop.first %}<ul aria-label="List of pages you can visit">{% endif %}
			<li>
				<a href="{{ navitem.url }}" {% if (page.url | pretty) == item.url %}class="current"{% endif %}>{{ navitem.label }}</a>
			</li>
		{% if loop.last %}</ul>{% endif %}
	{% endfor %}
</nav>

