<footer role="contentinfo" id="footer" aria-labelledby="site-footer--label" class="site-footer">
	<div class="wrapper">

		{# To help assistive technologies #}
		<h2 id="site-footer--label" class="visually-hidden">Other tertiary content and external links. eg. accessibility statement, twitter and github.</h2>
		<small>&copy; <time datetime="{% year %}">{% year %}</time> {{ site.name }}. All rights reserved.</small>

		{# Pulls content from navigation.json data file #}
		<nav aria-labelledby="nav-footer--label">

			{# To help assistive technologies #}
			<h2 id="nav-footer--label" class="visually-hidden">Footer navigation</h2>

			{% for navitem in navigation.footernav %}
				{% if loop.first %}<ul role="list" aria-label="List of tertiary content pages and external links" class="no-list">{% endif %}
					<li>
						<a href="{{ navitem.url }}"
							{% if navitem.external %} rel="external"{% endif %}
							{% if (page.url | pretty) == navitem.url %} aria-describedby="current-page" class="current"{% endif %}>
							{% if navitem.icon %}
								<span class="visually-hidden">{{ navitem.label }}</span>
								{% else %}
								{{ navitem.label }}
							{% endif %}
							{# This (below) could be optimised at some stage... #}
							{% if navitem.icon == "github" %}{% include "components/core/icons/svg_inline/icon--github.njk" %}{% endif %}
							{% if navitem.icon == "twitter" %}{% include "components/core/icons/svg_inline/icon--twitter.njk" %}{% endif %}
							{% if navitem.icon == "rss" %}{% include "components/core/icons/svg_inline/icon--rss.njk" %}{% endif %}
							{% if navitem.icon == "linkedin" %}{% include "components/core/icons/svg_inline/icon--linkedin.njk" %}{% endif %}
						</a>
					</li>
				{# Looping through list items ends here #}
				{% if loop.last %}
					{# These (below) are static list items and don't belong to the loop (above)...  #}
					<li>
						<a href="/accessibility">Accessibility</a>
					</li>
					<li>
						{# Back to the top link / anchor #}
						<a href="#start">Back to top <i aria-hidden="true">&uarr;</i></a>
					</li>
				</ul>
				{% endif %}
			{% endfor %}
		</nav>

	</div>

	{# "Skip-to" link. Helps assistive technologies #}
	<a href="#main" class="visually-hidden">Skip to the main content.</a>

</footer>
