/**********************************************************
 * Buttons placeholder
 **********************************************************/

@use '../../../../styles/abstracts' as *;


a,
button,
input {
  &.button {
    display: inline-block;
    padding: 1rem 1.25rem;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: unset;
    background-color: var(--green-custom);
    outline: none;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s ease;

      // Button `:hover` state
      &:hover {
        background-color: var(--green-custom-dark);
      }

      // Button `:active` state
      &:active {
        background-color: var(--green-custom-dark);
      }
  }
}
