/// "Call out" utility class placeholder.
///
/// Use the `.call-out` class on any element to hide it from everything (that includes assistive technologies)

%call-out {
  background: var(--grey-light);
  padding: 1em;
  border: 2px solid var(--grey-dark);
  box-shadow: 0 10px 0 -5px var(--green-custom), 0 20px 0 -10px var(--orange-custom);
  margin-bottom: 2rem;
}

// 'Call out' utility class
// Using the `%call-out` placeholder
.call-out {
  @extend %call-out;
}
