/**********************************************************
 * Site logo styles
 **********************************************************/

@use '../../../../styles/abstracts' as *;

.site-logo {
  font-family: var(--font-family-title);
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 0;

    @include min-width($breakpoint-x-small) {
      margin-right: 2rem;
    }

  a {
    color: var(--font-colour-base);
    text-decoration-color: transparent;

    &:active,
    &:focus,
    &:hover {
      color: var(--green-custom);
      text-decoration-color: var(--green-custom-light);
      border: 0;
    }
  }
}
