<a href="/"
	{% if (page.url | pretty) == "/" %} aria-describedby="current-page" class="[ site-logo ] [ current ]"{% endif %}
	{% if (page.url | pretty) !== "/" %} aria-label="Return to the homepage." class="[ site-logo ]"{% endif %}
	>
	<span class="[ site-logo__name ]">{{ site.name }}{% if (page.url | pretty) == "/" %}<span class="[ visually-hidden ]">'s homepage</span>{% endif %}</span>
</a>
