/**********************************************************
 * Main navigation styles
 **********************************************************/

 .navigation {
  @extend %flow;

  a {
    &,
    &:active,
    &:focus,
    &:hover {
      color: var(--font-colour-base);
      text-decoration: none;
    }
  }

  &__list {
    @extend %no-list;
    display: flex;

    & > li {
      padding-right: 1rem;
    }
  }

 }
