{# Pulls data from a global `messages.json` data file #}
<aside aria-labelledby="message--label" class="message {{ messageType.modifier }}">
	{# To help assistive technologies #}
	<h2 id="message--label" class="visually-hidden">Site-wide message / announcement</h2>
	{{ messageType.message }}<i aria-hidden="true"> &#x21e2;</i>

	{# Check if `ctaUrl` value has been set for the particular `messageType` data object #}
	{% if messageType.ctaUrl %}
		<a href="{{ messageType.ctaUrl }}">{{ messageType.ctaLabel }}</a>
	{% endif %}

	{%- set allPosts = collections.post | reverse -%}
  {# Shows the latest `post` entry... #}
  {%- for item in allPosts.slice(0, 1) -%}
  	<a href="{{ item.url | pretty }}">{{ item.data.title | safe }}</a>
  {% endfor %}
</aside>
