{# Pulls data from a global `messages.json` data file #}
<aside aria-labelledby="message--label" class="message {{ messageType.modifier }}">
	{# To help assistive technologies #}
	<h2 id="message--label" class="visually-hidden">Site-wide message / announcement</h2>

	{# Defining a dictionary to store the message types and their corresponding messages #}
	{% set messages = {
			bookmarks: 'I posted a bookmark on my blog recently',
			writing: 'I posted something on my blog recently',
			notes: 'I posted a note on my blog recently',
			photos: 'I posted a photo on my blog recently'
	} %}

	{# Checking if a custom message is provided #}
	{% if messageType.message %}
			{{ messageType.message }}
			{% if messageType.ctaUrl %}
					<a href="{{ messageType.ctaUrl }}">{{ messageType.ctaLabel }}</a>
			{% endif %}
	{# Otherwise... #}
	{% else %}
			{# Get the latest post from the 'post' collection #}
			{% set latestPost = collections.post | reverse | first %}
			{# Check if the latest post contains a value in data.tags called one of the following... #}
			{% if "bookmarks" in latestPost.data.tags %}
					{% set message = messages["bookmarks"] %}
			{% elif "writing" in latestPost.data.tags %}
					{% set message = messages["writing"] %}
			{% elif "notes" in latestPost.data.tags %}
					{% set message = messages["notes"] %}
			{% elif "photos" in latestPost.data.tags %}
					{% set message = messages["photos"] %}
			{% else %}
					{# Get the message for the first tag of the latest post, or use a default message #}
					{% set message = messages[latestPost.data.tags[0]] | default('I posted something on my blog recently') %}
			{% endif %}
			{{ message }}<span class="visually-hidden">, titled: </span>
			<i aria-hidden="true"> &#x21e2;</i>
			{# Format the post URL and display the post title #}
			<a href="{{ latestPost.url | pretty }}">{{ latestPost.data.title | safe }}</a>
			{# If a `bookmarkAuthor` data field has been filled, then use this value #}
			{%- if latestPost.data.bookmarkAuthor %} <i aria-hidden="true">&#8275;</i> <em><span class="visually-hidden">. It's written by </span>{{ latestPost.data.bookmarkAuthor }}</em>{% endif %}
	{% endif %}
</aside>
