{# Pulls data from a global `messages.json` data file #}
<aside aria-labelledby="message--label" class="message {{ messageType.modifier }}">
	{# To help assistive technologies #}
	<h2 id="message--label" class="visually-hidden">Site-wide message / announcement</h2>
	{# First check whether the message needs to come from the `messages` global data file #}
	{% if messageType.message %}
		{{ messageType.message }}
		{# Check if `ctaUrl` value has been set for the particular `messageType` data object #}
		{% if messageType.ctaUrl %}
			<a href="{{ messageType.ctaUrl }}">{{ messageType.ctaLabel }}</a>
		{% endif %}
	{# Otherwise... #}
	{% else %}
		{#  Return all posts in reverse order - (ie. the latest entry first) #}
		{%- set allPosts = collections.post | reverse -%}
		{# Shows the latest `item` entry and then generates the relevant message 'pre' text... #}
		{%- for item in allPosts.slice(0, 1) -%}
			{% if item.data.tags.includes('bookmarks') %}
				I posted a bookmark on my blog recently
			{% elseif item.data.tags.includes('writing') %}
				I posted something on my blog recently
			{% elseif item.data.tags.includes('notes') %}
				I posted a note on my blog recently
			{% elseif item.data.tags.includes('photos') %}
				I posted a photo on my blog recently
			{% else %}
				I posted something on my blog recently
			{% endif %}
			{# Then append some helpful text characters and the relevant post url and title #}
			<span class="visually-hidden">: </span>
			<i aria-hidden="true"> &#x21e2;</i>
			<a href="{{ item.url | pretty }}">{{ item.data.title | safe }}</a>
		{% endfor %}
	{% endif %}
</aside>
