{# Standard `button` component #}
{% macro button(type, modifier, url, label) -%}
	{%- if type == 'button' -%}
		<button class="button{% if modifier %} {{ modifier }}{% endif %}" type="submit">{{ label }}</button>
	{%- else -%}
		<a href="{{ url }}" class="button{% if modifier %} {{ modifier }}{% endif %}">{{ label }}</a>
	{%- endif -%}
{%- endmacro %}
