<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "WebPage",
	"name": "About {{ site.author.name }}",
	"description": "West Sussex, England is where I live with my family. I'm a Web Developer & UI Engineer trying my best to help people build websites that stand the test of time.",
	"inLanguage": "en-gb",
	"publisher": {
			"@type": "ProfilePage",
			"name": "Bruce Taylor's Website"
	}
}
</script>
