<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Person",
	"name": "{{ site.author.name }}",
	"url": "{{ site.rootUrl }}{{ page.url | pretty }}",
	"jobTitle": "Frontend Developer / UI Engineer",
	"description": "Bruce lives in West Sussex, England with his family. He's a Frontend Developer / UI Engineer with nearly 2 decades of experience trying his best to help people build websites that stand the test of time.",
	"image": "{{ site.author.thumbnail }}",
	"address": {
		"@type": "PostalAddress",
		"addressLocality": "Crawley",
		"addressRegion": "West Sussex",
		"addressCountry": "UK"
	},
	"sameAs": [
			"https://www.linkedin.com/in/brootaylor",
			"https://github.com/brootaylor",
			"https://twitter.com/brootaylor"
	]
}
</script>
