<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "WebPage",
	"name": "About {{ site.author.name }}",
	"description": "I'm originally from South Africa and grew up on a dairy farm in a very beautiful part of the country. I'm now a Frontend Developer / UI Engineer living in West Sussex, England with my family.",
	"inLanguage": "{{ site.lang }}",
	"publisher": {
			"@type": "ProfilePage",
			"name": "Bruce Taylor's Website"
	}
}
</script>
