<!doctype html>
<html lang="{{ site.lang }}" dir="ltr">

<!--
	"The original, shimmering self gets buried so deep that most of us end up hardly living out of it at all.
	Instead we live out all the other selves, which we are constantly putting on and taking off like coats and hats against the world’s weather."

	- Frederick Buechner, Telling Secrets
-->

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% if bodyClass != 'homepage' %}{{ title }} | {% endif %}{{ site.metaTitle }}</title>
		<meta name="description" content="{% if summary %}{{ summary }}{% else %}{{ site.metaDescription }}{% endif %}">
		<meta name="robots" content="{% if hidden == true %}noindex{% else %}index{% endif %}, follow">

		{% if hidden !== true %}<link rel="canonical" href="{{ site.rootUrl }}{{ page.url | pretty }}">{% endif %}

		{# A simple way to Load CSS asynchronously --> ref: https://www.filamentgroup.com/lab/load-css-simpler/ #}
		<link rel="stylesheet" href="{{ '/styles/main.css' | url }}" media="print" onload="this.media='all'">

		{# open graph #}
		<meta property="og:type" content="article">
		<meta property="og:site_name" content="{{ site.name }}">
		<meta property="og:title" content="{{ title }}">
		<meta property="og:image" content="{{ site.metaImage }}">
		<meta property="og:description" content="{% if summary %}{{ summary }}{% else %}{{ site.metaDescription }}{% endif %}">

		{# twitter #}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="{{ site.twitter }}">
		<meta name="twitter:title" content="{{ title }}">
		<meta name="twitter:description" content="{% if summary %}{{ summary }}{% else %}{{ site.metaDescription }}{% endif %}">
		<meta name="twitter:image" content="{{ site.metaImage }}">
		<meta name="twitter:url" property="og:url" content="{{ site.rootUrl }}{{ page.url | pretty }}">

		{# Favicons & manifest config #}
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.icon | url }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/ico/favicon-32x32.png' | url }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/ico/favicon-16x16.png' | url }}">
		<link rel="manifest" href="{{ '/manifest.json' | url }}">
		<link rel="mask-icon" href="{{ '/assets/ico/safari-pinned-tab.svg' | url }}" color="{{ site.theme_color }}">
		<link rel="shortcut icon" href="{{ site.favicon | url }}">
		<meta name="msapplication-config" content="{{ '/browserconfig.xml' | url }}">
		<meta name="msapplication-TileColor" content="{{ site.background_color }}">
		<meta name="theme-color" content="{{ site.theme_color }}">

		{# Google Analytics #}
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-XXXXXX-X', 'auto');
			ga('set', 'anonymizeIp', true); // Need to explore use of this object
			ga('send', 'pageview');
		</script>

<!--
	Hello there! Seems you're a bit like me - having a good ol' snoop around the source code.
	Fingers-crossed it's not too scary in here. 😬
	I've learnt a lot over the years doing what you're doing. Isn't the web fab like that!
	Hopefully there's something in here that helps you out.
-->

	</head>
	<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

		{# "Skip-to" links. Helps assistive technologies #}
		<a class="visually-hidden" href="#main">Skip to the main content.</a>

		{# Masthead #}
		{% include "components/header/header.njk" %}

		{# Main content #}
		<main role="main" id="main">

			{# Message content #}
			{% block messages %}
				{# Setting the message type (eg. "info") #}
				{% set messageType = messages.info %}
				{# Calling the message component #}
				{% include "components/messages/messages.njk" %}
			{% endblock %}

			{# Main page content is generated here #}
			{% block content %}
				{{ content | safe }}
			{% endblock %}

		</main>

		{# Footer content #}
		{% include "components/footer/footer.njk" %}

		{# Vendor / 3rd Party JS #}
		<script src="{{ '/scripts/vendor/vendor.js' | url }}"></script>

		{#
			METHOD: native JS modules with legacy browser fallback
			REF: https://philipwalton.com/articles/using-native-javascript-modules-in-production-today/
		#}
		{# Main JS #}
		{# 1. modern browsers => Using native ES6 modules (ESM). Not transpiled with Babel #}
		<script type="module" src="{{ '/scripts/main.module/main.mjs' | url }}"></script>
		{% if site.environment == "production" %}
			{# 2. older browsers => Using 'normal' JS output (IIFE). Transpiled with Babel #}
			{# ES6 modules 'defer' by default so adding 'defer' attribute to enable classic JS to load in deferred fashion. #}
			<script nomodule defer src="{{ '/scripts/main.nomodule/nomodule.js' | url }}"></script>
		{% endif %}

		{# Service worker #}
		{% if site.environment == "production" %}
			<script>
				if (navigator.serviceWorker) {
					navigator.serviceWorker.register('/serviceworker.js');
					if (navigator.serviceWorker.controller) {
						window.addEventListener('load', () => {
							navigator.serviceWorker.controller.postMessage({
								command: 'trimCaches'
							});
						});
					}
				}
			</script>
		{% endif %}

<!--
Current page: {{ page.url | url }}
Last deployed: {{ date | dateTimeLocalFriendly("LLLL d, y @ t") }}
-->

	</body>
</html>
