{% extends "layouts/base.njk" %}

{% block content %}
	<article class="wrapper flow">
		{{ content | safe }}

		{# Contact form #}
		{% include "components/forms/contact/contact.njk" %}
	</article>
{% endblock %}
