{% extends "layouts/base.njk" %}

{% block content %}
	<article class="wrapper flow">

		{# Intro section #}

		{# Feature / hero section #}
		{% include "collections/featured.njk" %}

		{# Carousel section #}
		{% include "components/carousel/carousel.njk" %}

	</article>
{% endblock %}
