{% extends "layouts/base.njk" %}

{% block content %}
	<article class="[ wrapper flow ] link">

		<h1>{{ title }}</h1>
		<a href="{{ linkExternal }}">{{ linkLabel }}</a>
		<time datetime="{{ date | dateTimeLocal }}">{{ date | dateTimeLocalFriendly("d LLLL y, ") }}{{ date | dateTimeLocalFriendly("t") | lower }}</time>

		{{ content | safe }}

	</article>
{% endblock %}
