{% extends "layouts/base.njk" %}

{% block content -%}
	<main role="main" id="main">
		<article class="post">
			{{ content | safe }}
		</article>
	</main>
	<!-- / Main content -->
{% endblock %}
