{% extends "layouts/base.njk" %}

{% block content %}
	<article class="[ wrapper flow ] writing">

		<h1>{{ title }}</h1>
		<time datetime="{{ date | dateTimeLocal }}">{{ date | dateTimeLocalFriendly("d LLLL y, ") }}{{ date | dateTimeLocalFriendly("t") | lower }}</time>

		{{ content | safe }}

	</article>
{% endblock %}
