---
permalink: '/humans.txt'
hidden: true
eleventyExcludeFromCollections: true
---
brootaylor.com | http://brootaylor.com
Last update: {{ site.dateTimeNow }}

## Team
- Bruce Taylor
	- Developer / UI Engineer
	- West Sussex, UK
	- brootaylor@gmail.com
	- @brootaylor
	- http://www.linkedin.com/in/brootaylor

## Thanks
- Family, friends, Monmouth Coffee and the - (many not known to me personally) - web designer & developer legends that inspire me.

## Site
- Standards
	- HTML (https://www.w3.org/TR/html5/)
	- CSS (https://www.w3.org/TR/2001/WD-css3-roadmap-20010523/)
	- JavaScript (https://www.javascript.com/)
	- Markdown (https://daringfireball.net/projects/markdown/)
	- SVG (https://www.w3.org/TR/SVG/)

- Technologies
	- Eleventy (https://www.11ty.dev/)
	- Sass (http://sass-lang.com/)
	- Node.js (https://nodejs.org/en/)
	- NPM (https://www.npmjs.com/)
	- Service Worker (https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API)

- Browsers
	- Chrome (https://www.google.com/chrome/)
	- Firefox (https://www.mozilla.org/en-US/firefox/new/)
	- Opera (https://www.opera.com/)
	- Edge (https://www.microsoft.com/en-us/windows/microsoft-edge)
	- Safari (http://www.apple.com/safari/)

- Software and Services
	- Photoshop (https://www.adobe.com/uk/products/photoshop.html)
	- Figma (https://www.figma.com/)
	- MacOS (http://www.apple.com/macos/)
	- SVGOMG (https://jakearchibald.github.io/svgomg/)
	- VoiceOver (https://www.apple.com/accessibility/mac/vision/)
	- aXe (https://www.deque.com/axe/)
	- WAVE (https://wave.webaim.org/)
	- Pa11y (https://pa11y.org/)
	- Lighthouse (https://developers.google.com/web/tools/lighthouse)
	- BrowserStack (https://www.browserstack.com/)
	- VS Code (https://code.visualstudio.com/)
	- GitHub (https://github.com/)
	- Netlify (https://www.netlify.com/)
	- Netlify CMS (https://www.netlifycms.org/)
