---
permalink: '/robots.txt'
hidden: true
eleventyExcludeFromCollections: true
---
# www.robotstxt.org
# Ref: https://yoast.com/ultimate-guide-robots-txt/

{% if site.robotsCrawl %}
# Allow crawling of all content except for certain user-agents, directories / pages etc. and their contents eg. `/foo`
# == Disallow GPTBot access to this website ==
User-agent: GPTBot
Disallow: /

# == Open the doors to all other user-agents in Production ==
User-agent: *
Disallow:

# Sitemap location
Sitemap: {{ site.rootUrl }}/sitemap.xml
{% else %}
# Disallow crawling of all content
# == Handy during beta testing ==
User-agent: *
Disallow: /
{% endif -%}
