<header role="banner" id="mast">
	<div class="mast-inner">
		<a class="logo" href="/">
			<!-- To help assistive technologies -->
			<span class="visuallyhidden">Return to the homepage</span>
		</a>

		<!-- Site navigation -->
		<nav>
			{% include "includes/navigation.njk" %}
		</nav>

	</div>
</header>
