
/* ==========================================================================
   Main Footer
   ========================================================================== */

#footer {
	margin-top: pxToEm(15px, $font-size-base);
	margin-bottom: pxToEm(15px, $font-size-base);
	padding-top: pxToEm(15px, $font-size-base);
	border-top: 1px solid $black;

	ul {
		list-style: none;
		padding: 0;
		margin: pxToEm(0 0 5px 0, $font-size-base);
	}
	li {
		display: inline-block;
		margin-right: pxToEm(15px, $font-size-base);
		font-size: 80%;
	}

	.copy {
		display: block;
		padding-right: pxToEm(15px, $font-size-base);

			@include break-point-min(768px) {
				display: inline-block;
				width: 60%;
			}
	}

	.reg {
		display: block;
		border-top: 1px solid $grey;
		margin-top: pxToEm(15px, $font-size-base);
		padding-top: pxToEm(15px, $font-size-base);
		color: lighten($black, 40%);

			@include break-point-min(768px) {
				display: inline-block;
				border-top: none;
				border-left: 1px solid $grey;
				margin-top: 0;
				padding: pxToEm(0 0 0 15px, $font-size-base);
				width: 38%;
			}
	}
}