---
permalink: '/_redirects'
hidden: true
eleventyExcludeFromCollections: true
---

{#- This `_redirects` file is being used in the production environment cause I can't seem to get the netlify.toml redirects to work as expected -#}

# Redirects for older `notes` URLs
/notes/2019-06-06/note_1	/notes/2019-06-06/note_201906061556 301!

# Files eg. CV
/cv/BruceTaylorCV.pdf /assets/docs/cv/BruceTaylorCV.pdf 200!
