---
permalink: '/browserconfig.xml'
hidden: true
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
    <msapplication>
        <tile>
            <square150x150logo src="{{ site.icon_mstile }}" />
            <TileColor>{{ site.background_color_mstile }}</TileColor>
        </tile>
    </msapplication>
</browserconfig>
