---
permalink: /browserconfig.xml
hidden: true
---
<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
    <msapplication>
        <tile>
            <square150x150logo src="{{ site.ms_tile }}" />
            <TileColor>{{ site.background_color }}</TileColor>
        </tile>
    </msapplication>
</browserconfig>
