---
permalink: '/humans.txt'
hidden: true
eleventyExcludeFromCollections: true
---
/* UI DESIGNER / DEVELOPER / ENGINEER / PERSON */
	Bruce Taylor
	http://brootaylor.com/  |  @brootaylor  |  https://github.com/brootaylor  |  https://codepen.io/brootaylor  |  http://www.linkedin.com/in/brootaylor

/* SITE */
	Last update: {{ site.dateTimeNow }}
	Tools & tech: Photoshop, VS Code, Eleventy, SCSS, Github, Netlify, Netlify CMS, Terminal, Walks, Monmouth coffee
	Features: Service Worker (offline content available), Progressively enhanced, Accessible

/* TESTING */
	Any desktop, tablet & mobile devices I can get my hands on. As well as other willing human testers ;-)

