---
permalink: /manifest.json
hidden: true
eleventyExcludeFromCollections: true
---
{
		"lang": "{{ site.lang }}",
    "name": "{{ site.name }}",
    "short_name": "{{ site.short_name }}",
    "icons": [
        {
            "src": "{{ site.icon_192 }}",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
					"src": "{{ site.icon_512 }}",
					"sizes": "512x512",
					"type": "image/png"
				}
    ],
    "start_url": "{{ site.start_url }}",
		"display": "{{ site.display }}",
    "theme_color": "{{ site.theme_color_android }}",
    "background_color": "{{ site.background_color_android }}"
}
