---
permalink: /robots.txt
hidden: true
eleventyExcludeFromCollections: true
---

# www.robotstxt.org
# Ref: https://yoast.com/ultimate-guide-robots-txt/

# Disallow crawling of all content
# == Handy during beta testing ==
# User-agent: *
# Disallow: /

# Allow crawling of all content except for certain directories / pages etc. and their contents eg. `/es`
# == Open the doors in Production ==
User-agent: *
Disallow:

# Sitemap location
Sitemap: {{ site.rootUrl }}/sitemap.xml
