---
permalink: /sitemap.xml
hidden: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset
  xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
  xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
{%- for page in collections.all -%}
{%- if page.data.hidden !== true -%}
<url>
  <loc>{{ site.rootUrl }}{{ page.url | pretty }}</loc>
  <lastmod>{{ page.date | dateLocal() }}</lastmod>
  <changefreq>{{ page.data.changefreq }}</changefreq>
  <priority>{{ page.data.priority }}</priority>
</url>
{%- endif -%}
{%- endfor -%}
</urlset>
