/**********************************************************
 * Blockquotes
 **********************************************************/

blockquote {
  padding: 1rem 0 1rem 1rem;
  margin-left: 1rem;
  border-left: 0.5rem solid var(--grey-mid);

    @include min-width($breakpoint-small) {
      margin-left: 1.5rem;
    }

    @include min-width($breakpoint-medium) {
      margin-left: 2rem;
    }

  > * {
    font-style: italic;
  }
}
