/**********************************************************
 * Lists placeholder
 **********************************************************/

@use '../../../../styles/abstracts' as *;

// Notes, Links & Writing landing pages list item rules...
.notes,
.links,
.writing {
  &__list-item {
    border-bottom: 2px solid var(--grey-light);
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
}
