/**********************************************************
 * Lists placeholder
 **********************************************************/

@use '../../../../styles/abstracts' as *;

// Any lists that use a class attribute...
ul[class],
ol[class] {
  margin-top: 1em;
}

// Notes, Links & Writing landing pages list item rules...
.notes,
.links,
.writing {
  &__list-item {
    border-bottom: 2px solid var(--grey-light);
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
}
