/**********************************************************
 * Lists placeholder
 **********************************************************/

@use '../../../../styles/abstracts' as *;

// Notes, Bookmarks, Writing & Offline landing pages list item rules...
.notes,
.bookmarks,
.writing,
.offline {
  &__list-item {
    border-bottom: 2px solid var(--grey-light);
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
}
