/* ==========================================================================
   Variables (Global).
   ========================================================================== */


/*

	////////////////////////////////
	These are global variables
	////////////////////////////////

	Note: ==>> Module-specific variables, mixins, functions and placeholders should be kept within the correct module’s partial file:

*/


// Colour palette
// ==============

$white: #fff;
$black: #000;
$grey: #ccc;
$blue: #0000ff;
$green: #00ff00;
$orange: #ffa500;
$yellow: #ffff00;
$red: #ff0000;


// Brand colours
// ==============

$color-primary: $orange;
$color-secondary: $black;
$color-tertiary: $grey;


/////////////////////////////////////////////////////

// Links
// ==============
$link-primary: darken($color-primary, 20%);
$link-secondary: darken($color-secondary, 10%);
$link-tertiary: darken($color-tertiary, 20%);


/////////////////////////////////////////////////////

// Buttons
// ==============
$button-primary: darken($color-primary, 10%);
$button-secondary: darken($color-secondary, 10%);
$button-tertiary: darken($color-tertiary, 0%);
$button-disabled: $grey;

/////////////////////////////////////////////////////

// Messages
// ==============
$message-alert: $red;
$message-error: $red;
$message-warning: $orange;
$message-info: $yellow;
$message-success: $green;

//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

