/**********************************************************
 * Links
 **********************************************************/

 a {
  &,
  &:active,
  &:visited {
      color: var(--green-custom); // Custom property
      text-decoration: none;
      border-bottom: 1px solid var(--green-custom); // Custom property
      background-color: transparent;
      transition: border-bottom 0.25s,
                  background-color 0.25s;
  }

  &:hover,
  &:active {
      outline: none;
  }

  &:hover {
      color: var(--green-custom-dark); // Custom property
      text-decoration: none;
      border-bottom: 2px solid var(--green-custom-light); // Custom property
  }
 }
