/**********************************************************
 * Links
 **********************************************************/

 a {
  &,
  &:active,
  &:visited {
      color: var(--green-custom); // Custom property
      text-decoration-color: var(--green-custom);
      text-decoration-thickness: from-font;
      text-underline-offset: 3px;
  }

  &:hover,
  &:active {
      outline: none;
  }

  &:hover {
      color: var(--green-custom-dark); // Custom property
      text-decoration-color: var(--green-custom-light);
      text-decoration-thickness: 2px;
  }
 }
