<!doctype html>
<html id="start" lang="{{ site.lang }}" dir="ltr">

<!--
	"The original, shimmering self gets buried so deep that most of us end up hardly living out of it at all.
	Instead we live out all the other selves, which we are constantly putting on and taking off like coats and hats against the world’s weather."

	- Frederick Buechner, Telling Secrets
-->

	<head>
		{# Meta content, stylesheet call, manifest, open graph, favicon / icons etc. #}
		{% include "components/chrome/meta/meta.njk" %}

		{# "Cutting the mustard" at reasonably 'modern' browsers that support methods like "classList". Roughly IE 10+ #}
		<script>
			document.documentElement.classList.add('enhanced');
		</script>

		{# NOTE: May change to this (below) instead at some stage... #}
		{# "Cutting the mustard" at JS module support. If a browser supports JavaScript modules then the "documentElement" gets this class. Edge 16+ can support JS modules. #}
		{# <script type="module">
			document.documentElement.classList.add('enhanced');
		</script> #}

		{#
			Google Analytics...
			Only render this code snippet if `analyticsUrchin` has a value in `_data/site.js`
		#}
		{% if site.analyticsUrchin %}
			{% include "components/chrome/analytics/analytics.njk" %}
		{% endif %}

<!--
	Hello there! Seems you're a bit like me - having a good ol' snoop around the source code.
	Fingers-crossed it's not too scary in here. 😬
	I've learnt a lot over the years doing what you're doing. Isn't the web fab like that!
	Hopefully there's something in here that helps you out.
-->

	</head>
	<body {% if bodyClass or site.siteTheme %}class="{% if bodyClass %}{{ bodyClass }}{% endif %} {% if site.siteTheme %}{{ site.siteTheme }}{% endif %}"{% endif %}>

		{# "Skip-to" link. Helps assistive technologies #}
		<a class="visually-hidden" href="#main">Skip to the main content.</a>

		{# Main header & navigation #}
		{% include "components/global/header/header.njk" %}

		{# Main content #}
		<main role="main" id="main">

			{# Check if `siteMessage` is true in `_data/site.js`... #}
			{% if site.siteMessage %}
				{# Message content #}
				{% block messages %}
					{# Setting the message type (eg. "info") #}
					{% set messageType = messages.info %}
					{# Calling the message component #}
					{% include "components/global/messages/messages.njk" %}
				{% endblock %}
			{% endif %}

			{# Main page content is generated here #}
			{% block content %}
				{{ content | safe }}
			{% endblock %}

		</main>

		{# Main footer content #}
		{% include "components/global/footer/footer.njk" %}

		{# Schema Structured Data content #}
		{% if 'homepage' in bodyClass %}
			<!-- Schema Structured Data for the homepage... -->
			{% include "components/chrome/schemas/schema_home.njk" %}
		{% elif 'about' in bodyClass %}
			<!-- Schema Structured Data for the about page... -->
			{% include "components/chrome/schemas/schema_about.njk" %}
		{% elif 'work' in bodyClass %}
			<!-- Schema Structured Data for the work page... -->
			{% include "components/chrome/schemas/schema_work.njk" %}
		{% elif 'reading' in bodyClass %}
			<!-- Schema Structured Data for the reading page... -->
			{% include "components/chrome/schemas/schema_reading.njk" %}
		{% elif 'writing-home' in bodyClass %}
			<!-- Schema Structured Data for the writing landing page... -->
			{% include "components/chrome/schemas/schema_writing.njk" %}
		{% elif 'notes-home' in bodyClass %}
			<!-- Schema Structured Data for the notes landing page... -->
			{% include "components/chrome/schemas/schema_notes.njk" %}
		{% elif 'bookmarks-home' in bodyClass %}
			<!-- Schema Structured Data for the bookmarks landing page... -->
			{% include "components/chrome/schemas/schema_bookmarks.njk" %}
		{% elif 'photos-home' in bodyClass %}
			<!-- Schema Structured Data for the photos landing page... -->
			{% include "components/chrome/schemas/schema_photos.njk" %}
		{% elif 'contact' in bodyClass %}
			<!-- Schema Structured Data for the contact page... -->
			{% include "components/chrome/schemas/schema_contact.njk" %}
		{% elif 'blog' in bodyClass %}
			<!-- Schema Structured Data for a blog post... -->
			{% include "components/chrome/schemas/schema_blogpost.njk" %}
		{% endif %}

		{# Script calls #}
		{% include "components/chrome/scripts/scripts.njk" %}

<!--
	Current page: {{ page.url | pretty }}
	Last updated: {% if updated %}{{ updated | dateTimeReadable("dd LLLL yyyy @ t") }}{% else %}{{ date | dateTimeReadable("dd LLLL yyyy @ t") }}{% endif %}
-->

	</body>
</html>
