{#
	`Notes` layout template
#}

{# Uses `base.njk` as base document (ie. extends on it) #}
{% extends "layouts/base.njk" %}

{#
	*** A `titleMissingText` variable to make sure an `h1` title is supplied ***
#}
{% set titleMissingText = '* Title text is missing *' %}

{# This block `content` relates to the same block on the `base.njk` layout file #}
{% block content %}
	<article class="wrapper | flow">

		{# This `title` comes from the front matter in the relevant `.md` file - within the `pages` directory #}
		{% if title %}
			<h1 class="visually-hidden">{{ title | safe }}</h1>
		{% else %}
			{# Pages need a `title` hence the reason for this fallback #}
			<h1>{{ titleMissingText }}</h1>
		{% endif %}

		{# Notes date & time entry #}
		<footer>
			<time datetime="{{ date | dateTime }}">{{ date | dateTimeReadable("d LLLL y, ") }}{{ date | dateTimeReadable("t") | lower }}</time>
			<small> <i aria-hidden="true">&#8275;</i> <span class="visually-hidden">Written in </span>{{ location.locality }}, {{ location.country_name }}</small>
		</footer>

		{# This content comes from the markdown in the relevant `.md` file - within the `pages` directory #}
		{{ content | safe }}

		<hr>

		{# Takes back to notes landing page #}
		<span><i aria-hidden="true">&larr;</i> <a href="/notes">Other notes</a></span>

	</article>
{% endblock %}
